*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-weight: 400;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: #fff;
}
.nav{
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 50px;
}
.nav-1{
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav img{
    height: 80px;
    width: auto;
    margin-right: 60px;
    cursor: pointer;
}
.nav-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-1 ul li{
    margin-right: 40px;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;

    
}
.nav-2 i{
    margin-right: 40px;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}
.content{
    height: calc(100% - 110px );
    width: 100%;
    position: absolute;
    /* position:; */
    display: flex;
}

.content-left{
    height: 100%;
     width: 50%; 
    padding: 80px 100px;
}
.content-left h5{
    font-size: 20px;
    text-transform: capitalize;
    color: #555;
    margin-bottom:10px ;
}
.content-left h1{
    font-size: 55px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;

}
.content-left p{
    font-size:20px;
    color: #000;
    width: 80%;
    margin-bottom: 30px;
}
.btn{
    background-color:#000 ;
    color: #fff;
    font-size: 15px;
    padding: 12px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    border-top-left-radius: 0;
}
.content_right{
    height: 100%;
    width: 50%;
    padding: 100px 100px;
    white-space: nowrap;
    /* display: flex;
    justify-content: space-evenly; */
}
.product{
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0 5px 10px rgba(17, 0,17 , 0.3);
    display: inline-block;
    margin-right: 20px;
}
.product img{
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 35%;
}
.product h4{
 font-size: 18px;
 text-transform: capitalize;
 position: absolute;
 bottom: 28%;
 margin-left: 5px;
}
.catagory{
    position: absolute;
    bottom: 20%;
    font-weight: 500;
     margin-left: 5px;
          text-transform:capitalize ;


}
.color{
    position: absolute;
    bottom: 15%;
    font-weight: 500;
     margin-left: 5px;
     text-transform:capitalize ;

    
}
.price{
    font: 18px;
    position: absolute;
    bottom: 5%;
    font-weight: 500;
     margin-left: 5px;
          text-transform:capitalize ;


}