* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(245, 242, 238);
    /* width: 100vh; */
    min-height: 100vh;
    border: 10px solid rgb(167, 56, 56);
}

.content {
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
        align-items: flex-end;

}
.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}
.top_section h4{
    font-size: 20px;
    text-align: end;
}

.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.image_container, img{
    width: 300px;
    height: 320px;

}
.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section p{
font-size: 20px;
line-height: 30px;
letter-spacing: 1.2px;
text-align: justify;
}
.button_section
{
    margin: 50px 0;

}
.button_section h3{
    margin-bottom: 30px;

}
.button_section ul{
    margin-left: 50px;
}
.button_section li{
    margin-top: 5px;
    margin-left: 15px;
    font-size: 20px;
}
footer{
    margin-top: 30px;

}
footer p{
    font-size: 20px;
    text-align: end;
    margin-bottom: 10px;
}
