* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #f39c12;
    --dark-color: #2c3e50;
    --light-color: #ecf0f1;
    --text-dark: #2c3e50;
    --text-light: #ecf0f1;
    --bg-light: #ecf0f1;
    --bg-dark: #2c3e50;
    --card-light: white;
    --card-dark: #34495e;
    --gradient: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
    --shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    --transitions: all 0.4s ease;

}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-dark);
    background-color: var(--bg-light);
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: var(--transitions);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--text-dark);
}

.section-padding {
    padding: 100px 0;
}

.section-title {
    position: relative;
    margin-bottom: 60px;
    text-align: center;
}

a {
    text-decoration: none;
}

/* navbar */

.navbar {
    padding: 13px 0;
    transition: var(--transitions);
    background-color: var(--bg-light) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark-color);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color) !important;
}


.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
    color: var(--primary-color) !important;
    font-size: 28px !important;
}

.navbar .nav-link:focus,
.navbar .nav-link:active,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}