.hero{
background-image: url(../../../../public/Image/bg.png);
background-size: cover;
background-attachment:fixed ;
position: absolute;
top: 0;
left: 0;
width:100% ;
z-index: -1;
height: 100vh;
padding-top:20% ;
padding-right: 50px;
color: #fff;

}
.container{

}